.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border: none;
  font-size: 100px;
  margin: 2.5rem;
  padding: 1.5rem 2.5rem;
  width: 200px;
}

button {
  width: 500px;
  height: 300px;
  font-size: 50px;
  font-weight: 600;
}

.btn-blue {
  background-color: darkblue;
  color: white;
}

.btn-purple {
  background-color: blueviolet;
}

.btn-pink {
  background-color: pink;
  color: darkblue;
}

.btn-orange {
  color: black;
  background-color: orange;
}

.btn-yellow {
  background-color: yellow;
  color: black;
}

.btn-white {
  background-color: white;
  color: black;
}
